* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}
.navbar {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 50px;
    background-color: black;
    /* color: white; */
    padding: 15px 0;
    /* z-index: 1000; */
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

/* .navbar  li {
    margin: 0 20px; 
} */

.navbar .a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 18px;
    border-radius: 15px;
    transition: background-color 0.3s;
}
.navbar .aa{
    padding-bottom: 8px;
    padding-top: 20px;
    border-radius: 50%;
}

.navbar .a:hover{
    background-color: rgba(0, 49, 155, 0.6);
}
.navbar .aa:hover{
    background-color: white;
}

.navbar .logo{
    width: 50px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    color: aqua;
}

.slideshow {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: fade 15s infinite ;
}
#about{
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpapers.com/images/hd/chelsea-fc-lion-and-staff-logo-iwej7lt653spurvb.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.about {
    justify-content: center;     
    align-items: center;          
    text-align: center;
    color: white;
    /* background-color: rgba(0, 49, 155, 0.5); */
    width: 700px;
    height: auto;                
    margin: 0 auto;             
    padding: 50px;            
    position: absolute;           
    top: 50%;                     
    left: 50%;                    
    transform: translate(-50%, -50%); 
    font-size: larger;
}
@keyframes fade {
    0%,100% {
        background-image: url(https://i.eurosport.com/2024/11/07/4059788-82333408-2560-1440.jpg);
        opacity: 1;
    }
    33% {
        background-image: url(https://wallpapercave.com/wp/wp2202223.jpg);
        opacity: 1;
    }
    50% {
        background-image: url(https://wallpapercave.com/wp/wp2952041.jpg);
        opacity: 1;
    }
    66% {
        background-image: url(https://editorial.uefa.com/resources/01d4-0e70943a9113-4fc1e05b9064-1000/michael_ballack_chelsea_fc_.jpeg);
        opacity: 1;
    }
}
